.env
*pycache*
*.ipynb
*.zip
*.png
*.svg
*.vscode
/tabelas_finais/*
!/tabelas_finais/.gitkeep
/mapas/*
!/mapas/.gitkeep
/visualizacoes/*
!/visualizacoes/.gitkeep
*env
/dados_locais/educacao/inep_microdados/

# specs/website_refactor: *.png/*.svg acima são ignorados globalmente; os assets do site são fonte versionada
!/website/assets/**


# relatório LaTeX: auxiliares do latexmk e cache de imagens reduzidas (specs/relatorio_latex)
relatorio/latex/_build/
