.env
*pycache*
*.ipynb
*.zip
*.png
*.svg
*.vscode
/tabelas_finais/*
!/tabelas_finais/.gitkeep
/mapas/*
!/mapas/.gitkeep
/visualizacoes/*
!/visualizacoes/.gitkeep
*env
/dados_locais/educacao/inep_microdados/

# specs/2026-09-24_website_refactor: *.png/*.svg acima são ignorados globalmente; os assets do site são fonte versionada
!/website/assets/**


# relatório LaTeX: auxiliares do latexmk e cache de imagens reduzidas (specs/2026-09-25_relatorio_latex)
relatorio/latex/_build/
relatorio/latex/*.aux
relatorio/latex/*.log
relatorio/latex/*.fls
relatorio/latex/*.fdb_latexmk
